:root {
  --grey-3: #828282;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  background-color: #e5e5e5;
}

.container {
  width: 360px;
  margin: auto;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: calc(100vh - 48px);
  background-color: white;
  padding-left: 14px;
  padding-right: 18px;
}
